.side-nav {
	min-width: 14rem;
	max-width: 15rem;
	padding: 0.75rem 0.5rem 0;
	background-color: var(--background);
	font-size: 2rem;

	.mat-mdc-unelevated-button:not(:disabled) {
		justify-content: start;
		background-color: var(--background);
		color: var(--text);

		&:hover {
			background-color: var(--bg-neutral-dark);
		}

		&:active {
			background-color: var(--main);
		}
	}

	.mat-mdc-raised-button:not(:disabled) {
		background-color: var(--background);
		color: var(--text);
	}

	&__button {
		background-color: var(--bg-neutral-dark);
		color: var(--text);

		&__group {
			padding: 0.5rem 0;
		}

		&__checkbox {
			width: 100%;
			padding: 0 0 0 1rem;
		}

		&--add {
			margin: 0 0 1.125rem 0.75rem;
		}

		&--select {
			width: 100%;
			padding-left: 2rem;
		}

		&--toggle {
			justify-content: start;
			width: 100%;
			box-shadow: none;

			&:focus {
				box-shadow: none;
			}
		}
	}
}
