:host {
	display: block;
	width: 11rem;
}

.side-nav {
	display: flex;
	width: 15rem;
	padding: 0.75rem 0.5rem 0;
	font-size: 2rem;

	.mat-mdc-unelevated-button:not(:disabled) {
		//inaczej nie dało sie stylować
		justify-content: start;
		background-color: var(--background);
		color: var(--text);

		&:hover {
			background-color: var(--background-2);
		}

		&:active {
			background-color: var(--main);
		}
	}

	.mat-mdc-raised-button:not(:disabled) {
		background-color: var(--background);
		color: var(--text);
	}

	&__button {
		background-color: var(--background-2);
		color: var(--text);

		&__group {
			padding: 0.5rem 0;
		}

		&__checkbox {
			padding: 0 0 0 1rem;
		}

		&--add {
			margin: 0 0 1.125rem 0.75rem;
		}

		&--select {
			width: 100%;
		}

		&--toggle {
			justify-content: start;
			width: 100%;
			box-shadow: none;
		}
	}
}
