@let dialogMode = initialDialogData.mode;

<h2 mat-dialog-title>
	{{ dialogMode === "add" ? "Utwórz nową listę" : "Podaj nową nazwę listy" }}
</h2>
<mat-dialog-content class="mat-typography">
	<form class="form" [formGroup]="form">
		<mat-form-field class="form__input">
			<mat-label> Nazwa listy </mat-label>

			<input formControlName="title" matInput placeholder="Moja lista" />
			@if (form.controls.title.hasError("maxlength")) {
				<mat-error><strong>Maksymalna</strong> ilość znaków to 40</mat-error>
			}
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button (click)="onSubmit()" class="form__submit" mat-button cdkFocusInitial>
		{{ dialogMode === "add" ? "Dodaj" : "Zapisz" }}
	</button>
	<button class="form__submit" mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>
