:host {
	display: flex;
	gap: 1rem;
}

.my-list {
	width: max-content;
	min-width: 16rem;
	height: max-content;
	max-height: 87vh;
	margin-bottom: 0.5rem;
	padding: 1rem;
	overflow: auto;
	border-radius: 0.7rem;
	background-color: var(--bg-neutral-list);
	color: var(--text);

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-left: 0.5rem;
		gap: 1rem;
		line-height: 1.5rem;
	}

	&__button {
		--mat-menu-item-icon-color: var(--text-active);
		width: 100%;
		margin-bottom: 0.5rem;
		border-radius: 2rem;
		color: var(--text-active);
		font-weight: bold;
	}
}
