@let dialogMode = initialDialogData.mode;
<h2 mat-dialog-title>
	{{ dialogMode === "add" ? "Create new task" : "Edit task" }}
</h2>
<mat-dialog-content class="mat-typography">
	<form class="form" [formGroup]="form" (keydown.enter)="onSubmit()">
		<mat-form-field class="form__input">
			<mat-label> Title </mat-label>
			<input formControlName="title" matInput placeholder="Add title" />
			@if (form.controls.title.hasError("required")) {
				<mat-error>Title is <strong> required</strong></mat-error>
			} @else if (form.controls.title.hasError("maxlength")) {
				<mat-error
					><strong>Maximum</strong> number of characters is 40</mat-error
				>
			} @else if (form.controls.title.hasError("minlength")) {
				<mat-error
					><strong>Minimum</strong> number of characters is 3</mat-error
				>
			}
		</mat-form-field>
		<mat-form-field class="form__input">
			<mat-label>Description</mat-label>
			<input
				formControlName="description"
				matInput
				placeholder="Add description"
			/>
			@if (form.controls.description.hasError("maxlength")) {
				<mat-error><strong>Maximum</strong> number of characters is 100</mat-error>
			} @else if (form.controls.title.hasError("minlength")) {
				<mat-error><strong>Minimum</strong> number of characters is 3</mat-error>
			}
		</mat-form-field>
		<mat-form-field class="form__input">
			<mat-label>Date</mat-label>
			<input formControlName="date" matInput [matDatepicker]="picker" />
			<mat-hint>DD/MM/RRRR</mat-hint>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="picker"
				a
			></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<mat-form-field class="form__input">
			<mat-label>Time</mat-label>
			<input formControlName="time" matInput [matTimepicker]="timepicker" />
			<mat-hint>GG:MM</mat-hint>
			<mat-timepicker #timepicker />
			<mat-timepicker-toggle [for]="timepicker" matSuffix />
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button (click)="onSubmit()" class="form__submit" mat-button cdkFocusInitial>
		Save
	</button>
	<button class="form__submit" mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
