.nav-bar {
	gap: 0.2rem;
	background-color: var(--bg-neutral-dark);
	color: var(--text);
	font-size: 1.4rem;
}

.logo {
	width: auto;
	height: 2rem;
}

@media only screen and (max-width: 996px) {
	:host {
		z-index: 100;
		position: sticky;
		top: 0;
		left: 0;
	}
}
