<div class="backdrop">
	<form class="form">
		<mat-form-field class="form__input">
			<mat-label>Dodaj tytuł</mat-label>
			<input matInput placeholder="Moja lista" />
		</mat-form-field>

		<mat-form-field class="form__input">
			<mat-label>Dodaj opis</mat-label>
			<textarea matInput placeholder="Uśmiechnąć się"></textarea>
		</mat-form-field>

		<mat-form-field class="form__input">
			<mat-label>Wybierz date</mat-label>
			<input matInput [matDatepicker]="picker" />
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="picker"
			></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<button mat-flat-button class="form__submit" type="submit">Zapisz</button>
	</form>
</div>
